# --- Autogen / OpenAI ---
OPENAI_API_KEY="sk-proj-xxxxxxx"

# --- Keycloak (Auth MCP) ---
KEYCLOAK_URL="https://keycloak.aws-dev.sereducacional.com"
REALM="sereduc-core"
CLIENT_ID="ser-mcp-client"
CLIENT_SECRET="<COLOQUE_A_SECRET_AQUI>"

# --- MCP Endpoints ---
MCP_URL="https://mcp.aws-dev.sereducacional.com/aluno/mcp"

# --- DEV MODE ---
# Se for true, ignora o Keycloak e passa um token fake para chamadas (ótimo se usar o mock-mcp local)
DEV_MODE="false"